<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title start
    link(rel="icon" type="image/x-icon" href="favicon.ico")
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x' crossorigin='anonymous')
    //- link(rel="stylesheet" href='https://unpkg.com/swiper/swiper-bundle.css')
    //- link(href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet")
    link(rel="stylesheet" href="./css/main.css")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css")
  body
    include ./parts/header.pug
    include ./parts/pop-up.pug
    main(style="margin-top:100px;")
        div.text-center
                h1
                 | About Us
                p
                 | Pulvinar auctor nisl, volutpat turpis enim id.
        div.container5-main.container-fluid.position-relative.my-1.my-lg-5.my-md-2.bg-light.py-1.py-lg-4.py-md-2(style="width:100%; height:auto;")
                    img.img-fluid.position-absolute.line(src="/img/home-page/vertical.png" style="top: 10; left: 710px; max-width: 4px; height: 180px;")
                    div.inf
                        div.row.justify-content-center
                            div.col-12.col-lg-4.col-md-6.mt-lg-5.mt-md-2.mt-1.mb-lg-5.mb-md-2.mb-1
                                h1.fw-bold.fs-1
                                    | You guessed it. We’re changing the game.
                            div.col-12.col-lg-4.col-md-6.mt-lg-5.mt-md-2.mt-1.mb-lg-5.mb-md-2.mb-1
                                p.text-muted
                                    | Semper bibendum nisl, fermentum mi convallis. Sed vitae tincidunt nunc, aliquam orci.
                                    | Porttitor faucibus morbi sed senectus justo, adipiscing augue. Est, in in pretium at libero morbi. Euismod viverra arcu nisi eu sit.
                                    |  Praesent diam non imperdiet imperdiet potenti tristique et. Amet nec.
        div.container-fluid
            div.text.d-flex.justify-content-center
                h2
                 | Our Leadership Team
            div.text.d-flex.align-items-center.pt-3
                p.text-muted.text-center
                 | Interdum ac tincidunt molestie facilisis. Nulla at erat odio bibendum diam quam.
                 | Scelerisque mus vel egestas justo, purus consequat nibh eget. Non risus feugiat porta integer.
            div.row.d-flex.justify-content-center.mt-lg-5.mt-md-4.mt-3
                div.col-lg-4.col-md-6.col-12.d-flex.flex-column.align-items-center.justify-content-center
                    img(src="/img/about-us/Leadership1.png" style="max-width:120px; height:auto;")
                    h3.text-center Jenny Wilson
                    p.text-center Viverra ut potenti
                div.col-lg-4.col-md-6.col-12.d-flex.flex-column.align-items-center.justify-content-center
                    img(src="/img/about-us/Leadership2.png" style="max-width:120px; height:auto;")
                    h3.text-center Floyd Miles
                    p.text-center Viverra ut potenti
                div.col-lg-4.col-md-12.col-12.d-flex.flex-column.align-items-center.justify-content-center
                    img(src="/img/about-us/Leadership3.png" style="max-width:120px; height:auto;")
                    h3.text-center Cameron Williamson
                    p.text-center Viverra ut potenti
            div.row.d-flex.justify-content-center.mt-lg-4.mt-md-3.mt-2
                div.col-lg-4.col-md-6.col-12.d-flex.flex-column.align-items-center.justify-content-center
                    img(src="/img/about-us/Leadership4.png" style="max-width:120px; height:auto;")
                    h3.text-center Dianne Russell
                    p.text-center Viverra ut potenti
                div.col-lg-4.col-md-6.col-12.d-flex.flex-column.align-items-center.justify-content-center
                    img(src="/img/about-us/Leadership5.png" style="max-width:120px; height:auto;")
                    h3.text-center Leslie Alexander
                    p.text-center Viverra ut potenti
                div.col-lg-4.col-md-12.col-12.d-flex.flex-column.align-items-center.justify-content-center
                    img(src="/img/about-us/Leadership6.png" style="max-width:120px; height:auto;")
                    h3.text-center Esther Howard
                    p.text-center Viverra ut potenti
        div.container2-blogs.container-fluid
                    div.my-lg-5.my-md-3.my-2.row
                        div.col-lg-11.col-md-12.col-12.row.bg-gray.borders.d-flex.short.justify-content-center
                            div.col-lg-1.d-none.d-lg-block
                            div.col-lg-5.col-md-10.col-10.py-lg-4.py-md-2.py-1
                                h1.fw-bold.pt-lg-3.pt-md-2.pt-1.pe-lg-4
                                    | Join a global team of change-makers.
                                p.text-muted.pt-lg-3.pt-md-2.pt-1.pe-lg-4
                                    | Viverra ut potenti aliquam feugiat dui imperdiet laoreet tempus sed. Elit cursus est lorem in est id nec. Quis diam posuere at nisl eget turpis sagittis nunc. Aliquet et ultrices purus, id. Sagittis erat nunc in parturient.
                                a.btn.blue-color.text-white.fw-bold.rounded-pill.mt-lg-4.mt-md-3.mt-1(href="contact-us.html")
                                    | View Job Openings
                            div.col-lg-6.col-md-10.col-10.short.px-lg-0.px-md-2.px-1
                                img.borders(src="/img/blogs-page/container2.png")
        div.container-fluid
            div.text.d-flex.justify-content-center
                h2
                 | From the Blog
            div.row.d-flex.justify-content-center.gap-5
                div.new1.col-lg-3.col-md-10.col-10.bg-light.borders-b.my-lg-5.my-md-3.my-1(style="padding:0; max-width:385px;")
                        img.borders-t(src="/img/about-us/blog1.png")
                        h6.fw-bold.p-lg-2.p-md-2.p-1
                            | Porttitor pharetra, consectetur viverra est nisl a, vulputate id.
                        div.text-muted.d-flex.justify-content-between.mt-lg-3.mt-md-2.mt-1.p-lg-2.p-md-2.p-1(style="font-size:12px")
                            p
                                | 13 Sept, 2021
                            p
                                | Technology
                div.new1.col-lg-3.col-md-10.col-10.bg-light.borders-b.my-lg-5.my-md-3.my-1(style="padding:0; max-width:385px;")
                    img.borders-t(src="/img/about-us/blog2.png")
                    h6.fw-bold.p-lg-2.p-md-2.p-1
                        | Porttitor pharetra, consectetur viverra est nisl a, vulputate id.
                    div.text-muted.d-flex.justify-content-between.mt-lg-3.mt-md-2.mt-1.p-lg-2.p-md-2.p-1(style="font-size:12px")
                        p
                            | 13 Sept, 2021
                        p
                            | Technology
                div.new1.col-lg-3.col-md-10.col-10.bg-light.borders-b.my-lg-5.my-md-3.my-1(style="padding:0; max-width:385px;")
                    img.borders-t(src="/img/about-us/blog3.png")
                    h6.fw-bold.p-lg-2.p-md-2.p-1
                        | Porttitor pharetra, consectetur viverra est nisl a, vulputate id.
                    div.text-muted.d-flex.justify-content-between.mt-lg-3.mt-md-2.mt-1.p-lg-2.p-md-2.p-1(style="font-size:12px")
                        p
                            | 13 Sept, 2021
                        p
                            | Technology
    include ./parts/footer.pug
    script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js' integrity='sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js' integrity='sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT' crossorigin='anonymous')
    //- script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
    //- script(src='https://unpkg.com/swiper/swiper-bundle.min.js')
    script(src="https://polyfill.io/v3/polyfill.min.js?features=default")
    script(src="./js/main.js")

