<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title start
    link(rel="icon" type="image/x-icon" href="favicon.ico")
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x' crossorigin='anonymous')
    //- link(rel="stylesheet" href='https://unpkg.com/swiper/swiper-bundle.css')
    //- link(href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet")
    link(rel="stylesheet" href="./css/main.css")

    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css")
  body
    include ./parts/header.pug
    main.mt-lg-5.mt-2.mt-md-4.bg-light
        div.container1-blogs.container-fluid
            div.text-center.py-lg-5.py-md-3.py-1
                div.header
                    h1.fw-bold
                        | Blogs
                div.text
                    p.text-muted.fs-lg-5.fs-md-6.py-lg-4.py-md-2.py-1
                        | Ut condimentum volutpat, eget mauris senectus.
            div.all-blogs.row.d-flex.justify-content-center
                div.col-lg-6.col-md-10.col-10.row
                    div.breaking-new.row.d-flex.justify-content-center.bg-white.borders.short
                        div.col-lg-5.col-md-5.col-10.short
                            img(src="/img/blogs-page/breaking-new.png")
                        div.col-lg-7.col-md-7.col-10.bg-white.border-right
                            div.header.mt-lg-4.mt-md-2.mt-1
                                h4.fw-bold
                                    | Porttitor pharetra, consectetur viverra est nisl a, vulputate id...
                            div.text.my-lg-3.my-md-2.my-1
                                p.text-muted
                                    | Dui massa sapien ornare leo. Sagittis, sollicitudin sed integer maecenas sit. Nibh suspendisse lectus hendrerit pretium...
                            div.text-muted.d-flex.justify-content-between.mt-lg-4.mt-md-3.mt-1
                                p
                                    | 13 Sept, 2021
                                p
                                    | Technology

                    div.row.justify-content-around
                        div.new.col-lg-5.col-md-5.col-10.bg-white.borders-b.my-lg-5.my-md-3.my-1
                            img.borders-t(src="/img/blogs-page/new1.png")
                            h6.fw-bold.p-lg-2.p-md-2.p-1
                                | Porttitor pharetra, consectetur viverra est nisl a, vulputate id.
                            div.text-muted.d-flex.justify-content-between.mt-lg-3.mt-md-2.mt-1.p-lg-2.p-md-2.p-1(style="font-size:12px")
                                p
                                    | 13 Sept, 2021
                                p
                                    | Technology
                        div.new.col-lg-5.col-md-5.col-10.bg-white.borders-b.my-lg-5.my-md-3.my-1
                            img.borders-t(src="/img/blogs-page/new2.png")
                            h6.fw-bold.p-lg-2.p-md-2.p-1
                                | Porttitor pharetra, consectetur viverra est nisl a, vulputate id.
                            div.text-muted.d-flex.justify-content-between.mt-lg-3.mt-md-2.mt-1.p-lg-2.p-md-2.p-1(style="font-size:12px")
                                p
                                    | 13 Sept, 2021
                                p
                                    | Technology
                    div.row.justify-content-around
                        div.new.col-lg-5.col-md-5.col-10.bg-white.borders-b.mb-lg-5.mb-md-3.mb-1
                            a.btn(href="blog.html")
                                div
                                    img.borders-t(src="/img/blogs-page/new3.png")
                                    h6.fw-bold.p-lg-2.p-md-2.p-1
                                        | Porttitor pharetra, consectetur viverra est nisl a, vulputate id.
                                    div.text-muted.d-flex.justify-content-between.mt-lg-3.mt-md-2.mt-1.p-lg-2.p-md-2.p-1(style="font-size:12px")
                                        p
                                            | 13 Sept, 2021
                                        p
                                            | Technology
                        div.new.col-lg-5.col-md-5.col-10.bg-white.borders-b.mb-lg-5.mb-md-3.mb-1
                            img.borders-t(src="/img/blogs-page/new4.png")
                            h6.fw-bold.p-lg-2.p-md-2.p-1
                                | Porttitor pharetra, consectetur viverra est nisl a, vulputate id.
                            div.text-muted.d-flex.justify-content-between.mt-lg-3.mt-md-2.mt-1.p-lg-2.p-md-2.p-1(style="font-size:12px")
                                p
                                    | 13 Sept, 2021
                                p
                                    | Technology
                    div.row.justify-content-around
                        div.new.col-lg-5.col-md-5.col-10.bg-white.borders-b.mb-lg-5.mb-md-3.mb-1
                            img.borders-t(src="/img/blogs-page/new5.png")
                            h6.fw-bold.p-lg-2.p-md-2.p-1
                                | Porttitor pharetra, consectetur viverra est nisl a, vulputate id.
                            div.text-muted.d-flex.justify-content-between.mt-lg-3.mt-md-2.mt-1.p-lg-2.p-md-2.p-1(style="font-size:12px")
                                p
                                    | 13 Sept, 2021
                                p
                                    | Technology
                        div.new.col-lg-5.col-md-5.col-10.bg-white.borders-b.mb-lg-5.mb-md-3.mb-1
                            img.borders-t(src="/img/blogs-page/new6.png")
                            h6.fw-bold.p-lg-2.p-md-2.p-1
                                | Porttitor pharetra, consectetur viverra est nisl a, vulputate id.
                            div.text-muted.d-flex.justify-content-between.mt-lg-3.mt-md-2.mt-1.p-lg-2.p-md-2.p-1(style="font-size:12px")
                                p
                                    | 13 Sept, 2021
                                p
                                    | Technology

                div.col-lg-4.d-none.d-lg-block
                    p.text-muted
                        | Shortcut Links
                    div.row.borders.bg-white.mt-lg-4
                        div.col-3.short
                            img.borders.short-new(src="/img/blogs-page/short-new1.png")
                        div.col-9
                            h6.fw-bold
                                | Faucibus interdum cras imperdiet fames. Ullamcorper.
                            div.text-muted.d-flex.justify-content-between.mt-lg-4.mt-md-2.mt-1.p-lg-2.p-md-2.p-1(style="font-size:12px")
                                p
                                    | 13 Sept, 2021
                                p
                                    | Technology
                    div.row.borders.bg-white.mt-lg-4
                            div.col-3.short
                                img.borders.short-new(src="/img/blogs-page/short-new2.png")
                            div.col-9
                                h6.fw-bold
                                    | Enim elementum tristique vestibulum et sit. Mattis.
                                div.text-muted.d-flex.justify-content-between.mt-lg-4.mt-md-2.mt-1.p-lg-2.p-md-2.p-1(style="font-size:12px")
                                    p
                                        | 13 Sept, 2021
                                    p
                                        | Technology
                    div.row.borders.bg-white.mt-lg-4
                        div.col-3.short
                            img.borders.short-new(src="/img/blogs-page/short-new3.png")
                        div.col-9
                            h6.fw-bold
                                | In lectus lectus eleifend proin vitae bibendum elementum.
                            div.text-muted.d-flex.justify-content-between.mt-lg-4.mt-md-2.mt-1.p-lg-2.p-md-2.p-1(style="font-size:12px")
                                p
                                    | 13 Sept, 2021
                                p
                                    | Technology
                    div.row.borders.bg-white.my-lg-4
                        div.col-3.short
                            img.borders.short-new(src="/img/blogs-page/short-new4.png")
                        div.col-9
                            h6.fw-bold
                                | Sollicitudin tristique in senectus ornare ullamcorper
                            div.text-muted.d-flex.justify-content-between.mt-lg-4.mt-md-2.mt-1.p-lg-2.p-md-2.p-1(style="font-size:12px")
                                p
                                    | 13 Sept, 2021
                                p
                                    | Technology
                    p.text-muted
                        | Featured Video
                    div.embed-container.mt-lg-4(style="position:relative;padding-bottom:56.25%;height:0;overflow:hidden;max-width:100%;border:2px solid #ddd;border-radius:10px;box-shadow:0 4px 6px rgba(0,0,0,0.1);")
                        iframe(src="https://www.youtube.com/embed/9lO06Zxhu88"
                               style="position:absolute;top:0;left:0;width:100%;height:100%;"
                               title="YouTube video player"
                               frameborder="0"
                               allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                               allowfullscreen)

        div.container2-blogs.container-fluid
            div.my-lg-5.my-md-3.my-1.row
                div.col-lg-11.col-md-12.col-12.row.bg-gray.borders.d-flex.short.justify-content-center
                    div.col-lg-1.d-none.d-lg-block
                    div.col-lg-5.col-md-10.col-10.py-lg-4.py-md-2.py-1
                        h1.fw-bold.pt-lg-3.pt-md-2.pt-1.pe-lg-4
                            | Join a global team of change-makers.
                        p.text-muted.pt-lg-3.pt-md-2.pt-1.pe-lg-4
                            | Viverra ut potenti aliquam feugiat dui imperdiet laoreet tempus sed. Elit cursus est lorem in est id nec. Quis diam posuere at nisl eget turpis sagittis nunc. Aliquet et ultrices purus, id. Sagittis erat nunc in parturient.
                        a.btn.blue-color.text-white.fw-bold.rounded-pill.mt-lg-4.mt-md-3.mt-1(href="contact-us.html")
                            | View Job Openings
                    div.col-lg-6.col-md-10.col-10.short.px-lg-0.px-md-2.px-1
                        img.borders(src="/img/blogs-page/container2.png")










    include ./parts/footer.pug
    script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js' integrity='sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js' integrity='sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT' crossorigin='anonymous')
    //- script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
    //- script(src='https://unpkg.com/swiper/swiper-bundle.min.js')
    script(src="https://polyfill.io/v3/polyfill.min.js?features=default")
    script(src="./js/main.js")