<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title start
    link(rel="icon" type="image/x-icon" href="favicon.ico")
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x' crossorigin='anonymous')
    //- link(rel="stylesheet" href='https://unpkg.com/swiper/swiper-bundle.css')
    //- link(href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet")
    link(rel="stylesheet" href="./css/main.css")

    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css")
  body
    include ./parts/header.pug
    include ./parts/pop-up.pug
    main.mt-lg-5.mt-4.mt-md-5.bg-light
        div.container1-blog.container-fluid.pt-lg-5.pt-md-5.pt-5
            div.row.d-flex.justify-content-center
                div.col-lg-8.col-md-10.col-10.borders-b.mb-lg-5.mb-md-3.mb-1.bg-gray.short.row
                    img.col-lg-12.col-md-12.col-12.borders-t.short(src="/img/blog-page/big-img.png" )
                    h1.fw-bold.p-lg-3.p-md-2.p-1
                        | Adipiscing lacus dui rutrum quam. In morbi facilisis elit.
                    div.text-muted.d-flex.justify-content-between.mt-lg-3.mt-md-2.mt-1.p-lg-3.p-md-2.p-1
                        p
                            | 13 Sept, 2021
                        p
                            | Technology
        div.container2-blog.container-fluid.pt-lg-2.pt-md-2.pt-1.bg-light
            div.row.d-flex.justify-content-center
                p.col-lg-8.col-md-10.col-10.text-muted.pt-lg-3.pt-md-2.pt-1
                    | Vestibulum egestas amet, morbi facilisis semper mi placerat ac. Et tristique mus vel eu libero, lacus sit consectetur. Tristique dapibus fringilla in lectus ullamcorper tristique risus id nunc. Enim mi a, sapien velit dolor sagittis. Erat posuere aliquam, sit maecenas a neque lectus commodo scelerisque. Volutpat purus facilisis egestas risus convallis libero morbi est orci. Senectus a senectus cursus consectetur egestas eu fringilla eu phasellus. Tristique mollis velit.
                h3.col-lg-8.col-md-10.col-10.fw-bold.pt-lg-3.pt-md-2.pt-1
                    | Adipiscing lacus dui rutrum quam. In morbi facilisis elit.
                p.col-lg-8.col-md-10.col-10.text-muted.pt-lg-3.pt-md-2.pt-1
                    | Tincidunt et amet suspendisse venenatis neque ultricies eget. Aliquam duis amet amet lobortis. Elit risus ultrices gravida fringilla id odio tortor, vitae. In pretium purus ac potenti pretium ultrices. Aliquam velit scelerisque auctor in libero amet. Commodo faucibus consequat, dolor fringilla volutpat sed nibh. Amet, sit ut id eget. Egestas hendrerit.
                p.col-lg-8.col-md-10.col-10.text-muted.pt-lg-3.pt-md-2.pt-1
                    | Tempor lorem diam curabitur ac in nec, elementum arcu. Risus habitasse in aliquet mattis augue augue ornare in. Orci eu maecenas purus diam, sapien facilisis. Nunc tincidunt urna amet, et, in turpis sagittis, tristique purus. Facilisis sagittis nec et egestas leo lorem diam aenean egestas. Cras vestibulum, purus pretium nisl. Diam eleifend egestas gravida cursus in.
                img.col-lg-8.col-md-10.col-10.pt-lg-3.pt-md-2.pt-1(src="/img/blog-page/container2.png")
                h5.col-lg-8.col-md-10.col-10.fw-bold.pt-lg-3.pt-md-2.pt-1
                    | Adipiscing lacus dui rutrum quam. In morbi facilisis elit.
                p.col-lg-8.col-md-10.col-10.text-muted.pt-lg-3.pt-md-2.pt-1
                    | Neque, eu pellentesque tristique malesuada orci. Ultrices congue lobortis praesent non mi luctus id sed fermentum. Convallis mus non orci tincidunt malesuada. Tincidunt varius magna in donec duis tincidunt quis congue. Interdum varius dui, integer venenatis aliquam ac ac vel. Leo proin morbi a vitae venenatis platea tempor et. Sit ut vitae amet urna gravida aliquam vestibulum amet. Phasellus et sollicitudin mattis nibh nisl fringilla massa adipiscing. Sed cras enim, in enim, nibh. Sem tellus elementum ultrices magna. Porttitor ullamcorper accumsan quam ac ornare sagittis turpis viverra egestas. Faucibus egestas quisque porta nunc penatibus in sed. Sit etiam vel feugiat cras volutpat est iaculis leo sit.
                    | Porta tempus aliquet malesuada interdum quis. Etiam varius lectus nullam sed nunc. Ut mollis amet malesuada leo magna lacus in dui urna. Nulla orci, sed accumsan, adipiscing non feugiat id convallis. In vehicula molestie urna vel magna elit eget viverra pretium amet in sit.
                p.col-lg-8.col-md-10.col-10.text-muted.pt-lg-3.pt-md-2.pt-1
                    | In est laoreet senectus gravida eu. Sit et tellus venenatis sapien elementum, ac duis. Vitae eu pellentesque sed laoreet. Mattis consectetur leo, risus pulvinar sit vitae ut nunc. Neque lacus, elit feugiat egestas platea sed tortor euismod. Adipiscing bibendum at non est pharetra ultrices gravida.
                p.col-lg-8.col-md-10.col-10.text-muted.py-lg-3.py-md-2.py-1
                    | Proin dignissim neque ac aliquam vulputate amet urna. Sed mi consectetur blandit leo ut sit gravida venenatis, amet. Neque, venenatis massa justo tellus eros. Aenean tristique varius id nisl integer urna tortor malesuada enim. Elit sit in at orci, diam integer ultrices pellentesque. Nunc mauris, pharetra, odio eget ultrices. Dictum sit arcu parturient id sed risus sagittis.

        div.container3-blog.container-fluid.pt-lg-5.pt-md-3.pt-1.bg-white
            div.text-center
                h1.fw-bold.py-lg-3.py-md-2.py-1
                    | From the Blog
            div.row.d-flex.justify-content-center.gap-5
                div.new1.col-lg-3.col-md-10.col-10.bg-light.borders-b.my-lg-5.my-md-3.my-1(style="padding:0; max-width:385px;")
                        img.borders-t(src="/img/about-us/blog1.png")
                        h6.fw-bold.p-lg-2.p-md-2.p-1
                            | Porttitor pharetra, consectetur viverra est nisl a, vulputate id.
                        div.text-muted.d-flex.justify-content-between.mt-lg-3.mt-md-2.mt-1.p-lg-2.p-md-2.p-1(style="font-size:12px")
                            p
                                | 13 Sept, 2021
                            p
                                | Technology

                div.new1.col-lg-3.col-md-10.col-10.bg-light.borders-b.my-lg-5.my-md-3.my-1(style="padding:0; max-width:385px;")
                    img.borders-t(src="/img/about-us/blog2.png")
                    h6.fw-bold.p-lg-2.p-md-2.p-1
                        | Porttitor pharetra, consectetur viverra est nisl a, vulputate id.
                    div.text-muted.d-flex.justify-content-between.mt-lg-3.mt-md-2.mt-1.p-lg-2.p-md-2.p-1(style="font-size:12px")
                        p
                            | 13 Sept, 2021
                        p
                            | Technology
                div.new1.col-lg-3.col-md-10.col-10.bg-light.borders-b.my-lg-5.my-md-3.my-1(style="padding:0; max-width:385px;")
                    img.borders-t(src="/img/about-us/blog3.png")
                    h6.fw-bold.p-lg-2.p-md-2.p-1
                        | Porttitor pharetra, consectetur viverra est nisl a, vulputate id.
                    div.text-muted.d-flex.justify-content-between.mt-lg-3.mt-md-2.mt-1.p-lg-2.p-md-2.p-1(style="font-size:12px")
                        p
                            | 13 Sept, 2021
                        p
                            | Technology

        div.container4-blog.container-fluid.bg-white.mb-lg-4.mb-md-3.mb-2
            div.row.d-flex.justify-content-center.gap-5
                div.borders.bg-light.mt-lg-4.col-lg-3.col-md-5.col-10.row.short(style="max-width:385px;height:auto;")
                    div.col-3.short
                        img.borders.img-fluid(src="/img/blogs-page/short-new1.png" alt="Image")
                    div.col-9.d-flex.flex-column
                        p.fw-bold
                            | Faucibus interdum cras imperdiet fames. Ullamcorper.
                        div.text-muted.mt-auto.d-flex.justify-content-between(style="font-size:12px")
                            p
                                | 13 Sept, 2021
                            p
                                | Technology


                div.borders.bg-light.mt-lg-4.col-lg-3.col-md-5.col-10.row.short(style="max-width:385px;height:auto;")
                    div.col-3.short
                        img.borders.img-fluid(src="/img/blogs-page/short-new2.png" alt="Image")
                    div.col-9.d-flex.flex-column
                        p.fw-bold
                            | Faucibus interdum cras imperdiet fames. Ullamcorper.
                        div.text-muted.mt-auto.d-flex.justify-content-between(style="font-size:12px")
                            p
                                | 13 Sept, 2021
                            p
                                | Technology
                div.borders.bg-light.mt-lg-4.col-lg-3.col-md-5.col-10.row.short(style="max-width:385px;height:auto;")
                    div.col-3.short
                        img.borders.img-fluid(src="/img/blogs-page/short-new3.png" alt="Image")
                    div.col-9.d-flex.flex-column
                        p.fw-bold
                            | Faucibus interdum cras imperdiet fames. Ullamcorper.
                        div.text-muted.mt-auto.d-flex.justify-content-between(style="font-size:12px")
                            p
                                | 13 Sept, 2021
                            p
                                | Technology





    include ./parts/footer.pug
    script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js' integrity='sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js' integrity='sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT' crossorigin='anonymous')
    //- script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
    //- script(src='https://unpkg.com/swiper/swiper-bundle.min.js')
    script(src="https://polyfill.io/v3/polyfill.min.js?features=default")
    script(src="./js/main.js")