<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title start
    link(rel="icon" type="image/x-icon" href="favicon.ico")
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x' crossorigin='anonymous')
    //- link(rel="stylesheet" href='https://unpkg.com/swiper/swiper-bundle.css')
    //- link(href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet")
    link(rel="stylesheet" href="./css/main.css")

    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css")
  body
    include ./parts/header.pug
    main(style="margin-top:100px;")
        div.row
            div.col-12.d-flex.justify-content-center
                h1
                 | Contact us
            div.col-12.d-flex.justify-content-center
                p
                 | Felis nunc, aliquet quam dictum senectus nunc.
        div.row.d-flex.justify-content-center.mt-lg-3
            div.col-10.bg-light.brad.p-lg-5.p-md-3.p-2
                div.row.brad
                    div.col-lg-4.col-md-8.col-10.bradpurp.purpbg.p-lg-5.p-md-3.p-2.pe-lg-0.pe-md-0.pe-0
                        div.row
                            div.col-lg-10
                                h3.mt-lg-3.mt-md-2.mt-1.text-white Contact Information
                                p.mt-lg-3.tlight
                                 | Fill up the form and our Team will get back to you within 24 hours.
                        div.row.mt-lg-3.mt-md-2.mt-1.d-flex.align-items-center.flex-nowrap
                            div.col-lg-1.col-md-1.col-1.ms-2.rounded-circle.d-flex.justify-content-center.align-items-center.bg-white(style="width:30px; height:30px;")
                                img(src="/img/contact/Phone.png" style="max-width: 15px; height: 15px;")
                            div.col-lg-8.col-md-10.col-11
                                p.text-white.fs-6
                                 | +91 98765 43210
                        div.row.mt-lg-3.mt-md-2.mt-1.d-flex.align-items-center.flex-nowrap
                            div.col-lg-1.col-md-1.col-1.ms-2.rounded-circle.d-flex.justify-content-center.align-items-center.bg-white(style="width:30px; height:30px;")
                                img(src="/img/contact/post.png" style="max-width: 15px; height: 15px;")
                            div.col-lg-8.col-md-10.col-11
                                a.text-white.fs-6(href="domain@paypal.com" target="_blank" title="Instagram")
                                 | domain@paypal.com
                        div.row.mt-lg-3.mt-md-2.mt-1.d-flex.align-items-center.flex-nowrap
                            div.col-lg-1.col-md-1.col-1.ms-2.rounded-circle.d-flex.justify-content-center.align-items-center.bg-white(style="width:30px; height:30px;")
                                img(src="/img/contact/Planet.png" style="max-width: 15px; height: 15px;")
                            div.col-lg-8.col-md-10.col-11
                                a.text-white.fs-6(href="https://paypal.com" target="_blank" title="Instagram")
                                 | https://paypal.com
                        div.row.mt-lg-3.mt-md-2.mt-1.d-flex.align-items-center.flex-nowrap
                            div.col-lg-1.col-md-1.col-1.ms-2.rounded-circle.d-flex.justify-content-center.align-items-center.bg-white(style="width:30px; height:30px;")
                                img(src="/img/contact/Location.png" style="max-width: 15px; height: 15px;")
                            div.col-lg-8.col-md-10.col-11
                                a.text-white.fs-6(href="#" target="_blank" title="Instagram") Location
                    div.col-lg-8.p-lg-5
                        div.row
                            div.col-6.mt-lg-3.mt-md-2.mt-2
                                p.fw-bold
                                 | First Name
                            div.col-6.mt-lg-3.mt-md-2.mt-2
                                p.fw-bold
                                 | Last Name
                        div.row
                            div.col-6.mt-lg-3.mt-md-2.mt-2
                                input.inp(type="text" style="width: 100%;")
                            div.col-6.mt-lg-3.mt-md-2.mt-2
                                input.inp(type="text" style="width: 100%;")
                        div.row
                            div.col-6.mt-lg-3.mt-md-2.mt-2
                                p.fw-bold
                                 | Mail
                            div.col-6.mt-lg-3.mt-md-2.mt-2
                                p.fw-bold
                                 | Phone
                        div.row
                            div.col-6.mt-lg-3.mt-md-2.mt-2
                                input.inp(type="email" style="width: 100%;")
                            div.col-6.mt-lg-3.mt-md-2.mt-2
                                input.inp(type="tel" style="width: 100%;")
                        div.row.mt-lg-3.mt-md-2.mt-2
                            p.fw-bold What service do you need?
                        div.row.mt-lg-3.mt-md-2.mt-2
                            div.col-lg-4.mt-lg-3.mt-md-2.mt-2
                                input.form-check-input(type="radio" id="web-design-1" name="design-options")
                                label.form-check-label(for="web-design-1") Web Design
                            div.col-lg-4.mt-lg-3.mt-md-2.mt-2
                                input.form-check-input(type="radio" id="web-design-2" name="design-options")
                                label.form-check-label(for="web-design-2") App Design
                            div.col-lg-4.mt-lg-3.mt-md-2.mt-2
                                input.form-check-input(type="radio" id="web-design-3" name="design-options")
                                label.form-check-label(for="web-design-3") Graphic Design
                        div.row.mt-lg-3
                            div.col-lg-4.mt-lg-3.mt-md-2.mt-2
                                input.form-check-input(type="radio" id="web-design-4" name="design-options")
                                label.form-check-label(for="web-design-4") Digital Marketing
                            div.col-lg-4.mt-lg-3.mt-md-2.mt-2
                                input.form-check-input(type="radio" id="web-design-5" name="design-options")
                                label.form-check-label(for="web-design-5") Other
                        div.row
                            div.col-12.mt-lg-3.mt-md-2.mt-2
                                p.fw-bold Message
                            div.col-12.mt-lg-3.mt-md-2.mt-2
                                input.inp(type="text" style="width: 100%;" placeholder="Write your message...")
                        div.row
                            div.col-12.mt-lg-3.mt-md-2.mt-2.d-flex.justify-content-end
                                button.btn.blue-color.text-white.fw-bold.rounded-pill.m-md-2.m-2(type="submit")
                                 | Send Message
            div.container4-main.container-fluid.position-relative.my-1.my-lg-5.my-md-2.text-center(style="width:100%; height:auto;")
                div.headers.pt-5
                    h1.fw-bold
                        | See Our Work
                div.text.d-flex.py-lg-3.py-1.py-md-2
                    p.text-muted.text-center
                        | Interdum ac tincidunt molestie facilisis. Nulla at erat odio bibendum diam quam. Scelerisque mus vel egestas justo, purus consequat nibh eget. Non risus feugiat porta integer.
                div.d-flex.row.justify-content-center.py-lg-3.py-1.py-md-2
                    div.d-flex.col-10.col-lg-3.col-md-3.justify-content-center.my-2
                        img(src=`/img/home-page/work-img1.png` )
                    div.d-flex.col-10.col-lg-3.col-md-3.justify-content-center.my-2
                        img(src=`/img/home-page/work-img2.png` )
                    div.d-flex.col-10.col-lg-3.col-md-3.justify-content-center.my-2
                        img(src=`/img/home-page/work-img3.png` )
                a.btn.blue-color.text-white.fw-bold.col-lg-2.col-sm-6.rounded-pill.my-lg-4.my-md-2.my-1(href="#")
                    | See all projects
    include ./parts/footer.pug
            script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js' integrity='sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p' crossorigin='anonymous')
            script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js' integrity='sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT' crossorigin='anonymous')
            //- script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
            //- script(src='https://unpkg.com/swiper/swiper-bundle.min.js')
            script(src="https://polyfill.io/v3/polyfill.min.js?features=default")
            script(src="./js/main.js")