<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title start
    link(rel="icon" type="image/x-icon" href="favicon.ico")
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x' crossorigin='anonymous')
    //- link(rel="stylesheet" href='https://unpkg.com/swiper/swiper-bundle.css')
    //- link(href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet")
    link(rel="stylesheet" href="./css/main.css")

    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css")
  body
    include ./parts/header.pug
    main(style="margin-top:100px;")
        div.row
            div.col-12.d-flex.justify-content-center
                h1.fw-bold
                 | Terms & Conditions
            div.col-12.d-flex.justify-content-center
                p
                 | Id sagittis bibendum tortor praesent. Sit viverra.
        div.row
            div.col-7.p-lg-5.p-md-4.p-3
                h3.fw-bold.ms-lg-4.ms-md-3.md-2.mt-lg-4.mt-md-3.mt-2
                 | Terms and Conditions
                p.text-muted.mt-lg-4.mt-md-3.mt-2.ms-lg-4.ms-md-3.md-2
                 |Iaculis euismod a euismod dictum sit dictum arcu, neque. Consequat fusce laoreet accumsan,
                 | vestibulum. Turpis sed eu tortor massa pellentesque lectus tortor viverra sed. Nulla dignissim quis
                 | dolor nunc id bibendum vel. Dignissim sit sed viverra rhoncus pulvinar blandit massa. Eu aenean eu
                 | est non nibh suscipit pretium, pellentesque. Dolor vitae, amet, ornare suspendisse.
                 | Sit ac varius libero egestas ullamcorper lacinia et viverra auctor. Semper lobortis vitae vitae in
                 | malesuada molestie. Ante elementum massa pretium, sit arcu. Porta blandit tincidunt urna magna.
                p.text-muted.mt-lg-4.mt-md-3.mt-2.ms-lg-4.ms-md-3.md-2
                 | Orci, et ipsum gravida eget risus. Nunc velit quam pellentesque viverra. Feugiat mi purus
                 | vitae aliquet cras tellus velit sociis. Ut augue tellus sed at. Duis morbi lorem nibh amet, mus urna,
                 | purus velit. Mi condimentum laoreet sed iaculis nunc vestibulum nunc diam tortor. Pulvinar orci,
                 | non lectus nec duis. Adipiscing vitae augue sed sapien purus.
                 | Porttitor at eu mi, non enim nunc diam. Vel nisl cursus nam risus morbi ac venenatis faucibus ac.
                 | Enim ullamcorper nullam in aliquam, curabitur dapibus risus interdum cursus. Arcu et quis
                 | egestas scelerisque tempor, mauris. Dictum amet odio pellentesque dis euismod diam arcu,
                 | pellentesque. Leo sem pellentesque pretium volutpat quam consequat. Eu nec consectetur mus
                 | consectetur eget. Vitae eu ultrices adipiscing commodo. Interdum vivamus enim ut diam nisl.
                p.text-muted.mt-lg-4.mt-md-3.mt-2.ms-lg-4.ms-md-3.md-2
                 | Lacus dapibus urna blandit turpis pulvinar adipiscing eu aliquam. Lectus scelerisque arcu aliquet
                 | feugiat velit ut nunc massa in. Sed sapien ut molestie ipsum. Sed tristique ullamcorper ornare
                 | vitae accumsan malesuada ac facilisis. Posuere lorem duis adipiscing cras nisl.
                p.text-muted.mt-lg-4.mt-md-3.mt-2.ms-lg-4.ms-md-3.md-2
                 | Eget gravida orci congue quis etiam condimentum mattis. Nibh morbi aliquam et, lectus rhoncus.
                 | Nullam lacus, urna quis tempus varius. Amet, venenatis, scelerisque dignissim sed. Tellus fermentum.
                h3.fw-bold.ms-lg-4.ms-md-3.md-2.mt-lg-4.mt-md-3.mt-2
                 | Est sem adipiscing commodo cursus.
                p.text-muted.mt-lg-4.mt-md-3.mt-2.ms-lg-4.ms-md-3.md-2
                 | Sagittis eleifend tincidunt semper eget venenatis nulla viverra. Pharetra, nascetur sit turpis
                 | feugiat vestibulum semper orci. Lacus pretium in aliquet tristique. Eget mollis nam eu, sem
                 | mattis suspendisse ac. Dictum ultrices dolor suspendisse donec elit integer.
                h3.fw-bold.ms-lg-4.ms-md-3.md-2.mt-lg-4.mt-md-3.mt-2
                 | Tincidunt.
                p.text-muted.mt-lg-4.mt-md-3.mt-2.ms-lg-4.ms-md-3.md-2
                 | Amet, elit fames quis consequat. Vel, mattis tellus in turpis elementum tellus id vitae. Nibh quis
                 | ut bibendum cursus amet, vitae metus scelerisque quam. Nibh bibendum augue urna, sed nulla
                 | ultrices molestie aenean id. Consequat tortor vestibulum feugiat vulputate. Ipsum mattis morbi.
                h3.fw-bold.ms-lg-4.ms-md-3.md-2.mt-lg-4.mt-md-3.mt-2
                 | Odio.
                p.text-muted.mt-lg-4.mt-md-3.mt-2.ms-lg-4.ms-md-3.md-2
                 | Tellus consectetur sed et cras nec gravida sit. Ut euismod egestas amet vel viverra lectus id id
                 | arcu. Ultrices in magna id tincidunt luctus amet. Porttitor pulvinar integer justo, eget amet, vitae
                 | aliquam aliquam. Mi tellus in nisi, augue nibh faucibus adipiscing vitae orci. Risus urna consequat in
                 | pellentesque nec imperdiet fringilla. Convallis faucibus egestas urna enim, urna vivamus et. In arcu
                 | vitae sed massa. Sed amet eu, neque non urna a amet id libero. Ut quisque sed pretium sodales in
                 | felis dictumst elit viverra. Sed in quisque risus orci quis urna. Enim ullamcorper orci amet arcu
                 | turpis.
    div.container4-main.container-fluid.position-relative.my-1.my-lg-3.my-md-2.text-center(style="width:100%; height:auto;")
        div.headers.pt-5
            h2.fw-bold
                | See Our Work
        div.text.d-flex.py-lg-3.py-1.py-md-2
            p.text-muted.text-center
                | Interdum ac tincidunt molestie facilisis. Nulla at erat odio bibendum diam quam. Scelerisque mus vel egestas justo, purus consequat nibh eget. Non risus feugiat porta integer.
        div.d-flex.row.justify-content-center.py-lg-3.py-1.py-md-2
            div.d-flex.col-10.col-lg-3.col-md-3.justify-content-center.my-2
                img(src=`/img/home-page/work-img1.png` )
            div.d-flex.col-10.col-lg-3.col-md-3.justify-content-center.my-2
                img(src=`/img/home-page/work-img2.png` )
            div.d-flex.col-10.col-lg-3.col-md-3.justify-content-center.my-2
                img(src=`/img/home-page/work-img3.png` )
        a.btn.blue-color.text-white.fw-bold.col-lg-2.col-sm-6.rounded-pill.my-lg-4.my-md-2.my-1(href="#")
            | See all projects
    include ./parts/footer.pug
            script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js' integrity='sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p' crossorigin='anonymous')
            script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js' integrity='sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT' crossorigin='anonymous')
            //- script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
            //- script(src='https://unpkg.com/swiper/swiper-bundle.min.js')
            script(src="https://polyfill.io/v3/polyfill.min.js?features=default")
            script(src="./js/main.js")