

footer.text-center.bg-dark.text-white
    div.container-fluid.p-5
        a.navbar-brand.fw-bold.text-white.pb-5.fs-4(href="#" style="font-size: 1rem;")
            span.text-warning
                | Ace
            |  Studios
        div.row.justify-content-center.p-5.links-footer
            a.link-light.col-1.fs-6(href="#")
                | Work
            a.link-light.col-1.fs-6(href="#")
                | Services
            a.link-light.col-1.fs-6(href="#")
                | Contact us
            a.link-light.col-1.fs-6(href="#")
                | Carrers
        ul.icons.pb-5
            li
                a.btn.rounded-circle.footer-icon-bg.m-4(href="https://instagram.com" target="_blank" title="Instagram")
                  i.bi.bi-instagram.text-white.fs-6
                a.btn.rounded-circle.footer-icon-bg.m-4(href="https://facebook.com" target="_blank" title="Facebook")
                  i.bi.bi-facebook.text-white
                a.btn.rounded-circle.footer-icon-bg.m-4(href="https://linkedin.com" target="_blank" title="LinkedIn")
                  i.bi.bi-linkedin.text-white
                a.btn.rounded-circle.footer-icon-bg.m-4(href="https://twitter.com" target="_blank" title="Twitter")
                  i.bi.bi-twitter.text-white
                a.btn.rounded-circle.footer-icon-bg.m-4(href="https://youtube.com" target="_blank" title="YouTube")
                  i.bi.bi-youtube.text-white
        div.row.justify-content-center.pb-5.links-footer
            p.col-2.text-muted.fs-6
                | Copyright2021
            p.col-2.text-muted.fs-6
                | Terms & Conditions  Privacy