
nav.navbar.navbar-light.bg-white.fixed-top
  div.container-fluid
      a.navbar-brand.fw-bold.ps-5(href="index.html")
        span.text-warning
            | Ace
        |  Studios
      a.btn.blue-color.ms-auto.text-white.fw-bold(href="contact-us.html")
        | Connect with us
      a.nav-link.dropdown-toggle-split(href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false")
        img(src="./img/header/menu-icon.png")
      ul.dropdown-menu.dropdown-menu-end(aria-labelledby="navbarDropdown")
        li.d-flex.justify-content-between.p-3
            a.blue-color.btn.text-white(href="#" style="font-size: 0.6rem;")
                |Start A New Project
            button.btn-close.rounded-circle.bg-light.ps-6.ms-auto(type="button" aria-label="Close")

        li.py-2
            a.dropdown-item.fs-6.rounded-lg(href="index.html")
                | Home
        li.py-2
            a.dropdown-item.fs-6.rounded-lg(href="#")
                | Works
        li.py-2
            a.dropdown-item.fs-6.rounded-lg(href="about-us.html")
                | About us
        li.py-2
            a.dropdown-item.fs-6.rounded-lg(href="contact-us.html")
                | Contact us
        li.py-2
            a.dropdown-item.fs-6.rounded-lg(href="services.html")
                | Service
        li.py-2
            a.dropdown-item.fs-6.rounded-lg(href="blogs.html")
                | Blogs
        li.py-2
            a.dropdown-item.fs-6.rounded-lg(href="terms-conditions.html")
                | Terms & Conditions

        li.ps-3.py-2
            | Follow us on
        li.d-flex.justify-content-start.mb-5.ps-3
            a.btn.rounded-circle.icon-bg(href="https://instagram.com" target="_blank" title="Instagram")
              i.bi.bi-instagram.text-violate
            a.btn.rounded-circle.icon-bg(href="https://facebook.com" target="_blank" title="Facebook")
              i.bi.bi-facebook.text-violate
            a.btn.rounded-circle.icon-bg(href="https://linkedin.com" target="_blank" title="LinkedIn")
              i.bi.bi-linkedin.text-violate
            a.btn.rounded-circle.icon-bg(href="https://twitter.com" target="_blank" title="Twitter")
              i.bi.bi-twitter.text-violate
            a.btn.rounded-circle.icon-bg(href="https://youtube.com" target="_blank" title="YouTube")
              i.bi.bi-youtube.text-violate