div.modal(id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true")
  div.modal-dialog.modal-dialog-centered.modal-lg
    div.modal-content
      //- Заголовок модального окна
      div.modal-header
        h5.modal-title(id="exampleModalLabel") Connect with us
        button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")

      //- Тело модального окна
      div.modal-body
        div.container-fluid
            div.row.d-flex.justify-content-center.mt-lg-3
                div.col-10.bg-light.brad.p-lg-5.p-md-3.p-2
                    div.row
                        div.col-6.mt-lg-3.mt-md-2.mt-2
                            p.fw-bold
                             | First Name
                        div.col-6.mt-lg-3.mt-md-2.mt-2
                            p.fw-bold
                             | Last Name
                    div.row
                        div.col-6.mt-lg-3.mt-md-2.mt-2
                            input.inp(type="text" style="width: 100%;")
                        div.col-6.mt-lg-3.mt-md-2.mt-2
                            input.inp(type="text" style="width: 100%;")
                    div.row
                        div.col-6.mt-lg-3.mt-md-2.mt-2
                            p.fw-bold
                             | Mail
                        div.col-6.mt-lg-3.mt-md-2.mt-2
                            p.fw-bold
                             | Phone
                    div.row
                        div.col-6.mt-lg-3.mt-md-2.mt-2
                            input.inp(type="email" style="width: 100%;")
                        div.col-6.mt-lg-3.mt-md-2.mt-2
                            input.inp(type="tel" style="width: 100%;")
                    div.row.mt-lg-3.mt-md-2.mt-2
                        p.fw-bold What service do you need?
                    div.row.mt-lg-3.mt-md-2.mt-2
                        div.col-lg-4.mt-lg-3.mt-md-2.mt-2
                            input.form-check-input(type="radio" id="web-design-1" name="design-options")
                            label.form-check-label(for="web-design-1") Web Design
                        div.col-lg-4.mt-lg-3.mt-md-2.mt-2
                            input.form-check-input(type="radio" id="web-design-2" name="design-options")
                            label.form-check-label(for="web-design-2") App Design
                        div.col-lg-4.mt-lg-3.mt-md-2.mt-2
                            input.form-check-input(type="radio" id="web-design-3" name="design-options")
                            label.form-check-label(for="web-design-3") Graphic Design
                    div.row.mt-lg-3
                        div.col-lg-4.mt-lg-3.mt-md-2.mt-2
                            input.form-check-input(type="radio" id="web-design-4" name="design-options")
                            label.form-check-label(for="web-design-4") Digital Marketing
                        div.col-lg-4.mt-lg-3.mt-md-2.mt-2
                            input.form-check-input(type="radio" id="web-design-5" name="design-options")
                            label.form-check-label(for="web-design-5") Other
                    div.row
                        div.col-12.mt-lg-3.mt-md-2.mt-2
                            p.fw-bold Message
                        div.col-12.mt-lg-3.mt-md-2.mt-2
                            input.inp(type="text" style="width: 100%;" placeholder="Write your message...")

      //- Футер модального окна
      div.modal-footer
        button.btn.fw-bold.text-violate(type="button" data-bs-dismiss="modal") Close
        button.btn.blue-color.text-white.fw-bold.rounded-pill(type="submit") Send Message