@media (max-width:991px) {
  .brad {
    display:flex;
    justify-content:center;
  }
}

.brad {
  border-radius: 50px;
}

.bradpurp {
  border-radius: 20px;
}

.purpbg {
  background-color: #6854FC;
}

.tlight {
  color:lightgrey;
}

.inp {
  background-color: #f8f9fa;
  border: none;
  border-bottom: 1px solid grey;
}